CASPER_NETWORK=casper:testnet
CASPER_RECIPIENT=
CASPER_PRIVATE_KEY_PEM=
PAYMENT_AMOUNT=0.001
PORT=3000
RESOURCE_UPSTREAM_URL=https://api.weather.gov/gridpoints/TOP/32,81/forecast
RESOURCE_USER_AGENT=castai-mpp-example/0.1
SERVER_URL=http://localhost:3000
