FACILITATOR_URL=
DESTINATION_NETWORK=casper:testnet
DESTINATION_RECIPIENT=01...
PAYMENT_NETWORK=casper:testnet
CASPER_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----..."
ROUTER_URL=http://localhost:8787
